/* Add you CSS here */


.navbar {
    background-color: #8a7aff;
    overflow: hidden;
} 
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    padding: 14px 16px; 
    text-decoration: none;
    font-size: 17px;
    text-align: center;
}
.navbar a:hover {
    background-color: #ddd;
    color: black;
}
.navbar a.active {
    background-color: #04AA6D;
    color: rgb(255, 255, 255);
}








body {
  
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d4b6ff;
    text-align: center;
    color: #f2f2f2;
}







.cloud-background {
    background-image: url('img/cloud background banner.jpg');
    background-size: cover; /* Ensures the image covers the entire section */
    background-position: center;
    height: 400px; /* Adjust height as needed */
}

#socials-text {
  padding-top: 85px;
}







.about-me {

    background-color: #8a7aff;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    
}

.about-me h3 {
    
    color: #03002f;
}
.about-me p {
    color: #f2f2f2;
   /* font-size: 18px; */
    line-height: 1.6;
}










.skills-section {
    background-color: #8a7aff;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

.skills-section h3 {
    
    color: #270007;
}






.projects-section {
    background-color: #8a7aff;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

.projects-section h3 {
    
    color: #03002f;
}


.projects-section-columns {
  display: flex; /* Makes the container a flex container */
  justify-content: space-between; /* Distributes space between columns */
  gap: 20px; /* Adds space between columns */
}


.tech-column {
  flex: 1;
  padding: 15px;
  background-color: #a40120;
  border: 1px solid #ccc;
}

.tech-column h4 {
    
    color: #ffb7c4;
}




.crafts-column {
  flex: 1;
  padding: 15px;
  background-color: #0009ee;
  border: 1px solid #ccc;
}

.crafts-column h4 {
    
    color: #978fff;
}






.contact-section {
    background-color: #8a7aff;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

.contact-section h3 {
    
    color: #270007;
}



.footer {
 padding-bottom: 10px;
}