/* Add you CSS here */


.navbar {
    background-color: #8a7aff;
    overflow: hidden;
} 
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    padding: 14px 16px; 
    text-decoration: none;
    font-size: 17px;
    text-align: center;
}
.navbar a:hover {
    background-color: #ddd;
    color: black;
}
.navbar a.active {
    background-color: #04AA6D;
    color: rgb(255, 255, 255);
}

body {
  
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d4b6ff;
    text-align: center;
    color: #f2f2f2;
}
.cloud-background {
    background-image: url('img/cloud background banner.jpg');
    background-size: cover; /* Ensures the image covers the entire section */
    background-position: center;
    height: 400px; /* Adjust height as needed */
}